header {
  height: 5vh;
  text-align: center;
  font-weight: 700;
  line-height: 200%;
}

.image-gallery {
  width: 65%;
  margin: 0 auto;
}

.App {
  height: 95vh;
}

img {
  background-color: white;
}

.ReactModal__Overlay--before-close
{
  pointer-events: none;
}
